{% extends 'base_byeWorld.html '%}

{% block title %}Detalhar exemplo{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-body no-border invoice-body">
                <h3><span class="semi-bold">Perfil </span>do  {{object.nome}}</h3>
                <div class="col-md-2 col-sm-2">
                    <br>
                    <div style="background-color:purple; height:150px; width:150px; border-radius:50%">&nbsp;</div>
                </div>
                <div class="col-md-9 user-description-box col-sm-9" style="padding-left:20px">
                    <h4 class="semi-bold no-margin">{{object.nome}}</h4>
                    <h4 class="semi-bold no-margin">{{object.atributo2}}</h4>
                    <h4 class="semi-bold no-margin">{{object.atributo3}}</h4>
                </div>
                <br><br><br><br><br><br>
                <a aria-expanded="false" class="btn btn-primary btn-demo-space" href="/listar_exemplo" style="background-color: #339933; margin-left:50px">Listar Exemplo</a>
                <a aria-expanded="false" class="btn btn-primary btn-demo-space" href="/editar_exemplo/{{object.pk}}" style="background-color: #339933;">Editar Usuário</a>
            </div>
        </div>
    </div>
</div>
{%endblock content%}