{% extends 'base_helloWorld.html '%}

{% block title %}Editar exemplo2{% endblock title %}

{% block content %}
<form role='form' method='post' enctype='multipart/form-data'>{%csrf_token%}
    {% for campo in form %}
        <div class='form-group'>
            <label class='form-label'>{{campo.label}}</label>
            <span class='help'>{{campo.help_text}}</span>
            <div class='controls'>
                {{campo}}
            </div>
        </div>
    {% endfor %}
    <button class='btn btn-primary' method = 'post' type ='submit' style='background-color:#339933'>Update Values</button>
    <a aria-expanded='false' class='btn btn-primary btn-demo-space' href='/helloWorld/listar_exemplo2'style='background-color: #339933'>
        Listar Exemplo2
    </a>
</form>
{% endblock content %}